* {box-sizing: border-box;}

#gamePage {

	display: flex;
	justify-content: center;
	
}

#container {
	
	box-sizing: border-box;
	-webkit-box-shadow: 1px -3px 25px 6px rgba(0,0,0,1);
	-moz-box-shadow: 1px -3px 25px 6px rgba(0,0,0,1);
	box-shadow: 1px -3px 25px 6px rgba(0,0,0,1);
	width: 50vw;
	position: relative;
	border: solid black;
	display: flex;
	grid-template-columns: repeat(3, 1fr);
  grid-gap: 2px;
	align-items: center;
	top: 20vh;
	border: 10px solid black;
	margin: 2px;
	padding: 1px;
	text-align: center;

}

.square {
	width: 20px;
	height: 20px;
	display: inline-block;
	border: 1px solid black;

}

.food {
	background: blue;
	width: 20px;
	height: 20px;
	border: 1px solid black; 
	display: inline-block;
	/*float: right;
	left: -50%; /* or right 50% */*/
/*	text-align: left;*/
}

.head {
	background: orange;
	width: 20px;
	height: 20px;
	border: 1px solid black; 
	display: inline-block;

}

.obsticle {
	background: red;
	width: 20px;
	height: 20px;
	border: 1px solid black; 
	display: inline-block;

}

#score {
	width: 10px
	height: 10px;
	font-size: 5px;
	color: black;
}


